# Maven
target/
# IDEA
*.iml
.idea/

# Java
*.jar

# ignore ci stuff
/deploy-stuff
.gradletasknamecache

# these are generated and are unneccesarry
package-info.java

# Test server
/testserver/

/tools/dependencies/dependency-reduced-pom.xml
