[submodule "games/1vs1"]
	path = games/1vs1
	url = https://github.com/VoxelGamesLib/1vs1.git
	branch = master
[submodule "games/Deathmatch"]
	path = games/Deathmatch
	url = https://github.com/VoxelGamesLib/Deathmatch.git
	branch = master
[submodule "games/Hub"]
	path = games/Hub
	url = https://github.com/VoxelGamesLib/Hub.git
	branch = master
[submodule "tools/ChatMenuAPI"]
	path = tools/ChatMenuAPI
	url = https://github.com/VoxelGamesLib/ChatMenuAPI.git
	branch = master
[submodule "tools/commandline-tools"]
	path = tools/commandline-tools
	url = https://github.com/VoxelGamesLib/commandline-tools.git
	branch = master
[submodule "tools/KVGL"]
	path = tools/KVGL
	url = https://github.com/VoxelGamesLib/KVGL.git
	branch = master
[submodule "tools/skeleton"]
	path = tools/skeleton
	url = https://github.com/VoxelGamesLib/skeleton.git
	branch = master
[submodule "tools/skeletonkt"]
	path = tools/skeletonkt
	url = https://github.com/VoxelGamesLib/skeletonkt.git
	branch = master
[submodule "tools/dependencies"]
	path = tools/dependencies
	url = https://github.com/VoxelGamesLib/dependencies.git
	branch = master
[submodule "tools/assets"]
	path = tools/assets
	url = https://github.com/VoxelGamesLib/assets.git
	branch = master
