# Maven
target/

# Gradle
.gradle/
build/

# IDEA
*.iml
.idea/

# Java
*.jar

*out*

# JRebel <3
rebel.xml

# allow gradle wrapper
!*gradle-wrapper.jar

# ignore ci stuff
/deploy-stuff
.gradletasknamecache

#nobody likes you mvn ;)
pom.xml

# these are generated and are unneccesarry
package-info.java

# Test server
/testserver/